---
---
@import "{{ site.theme }}";

.wrapper {
  width:1250px;
  // left side is 270; padding is 50
  // 1250-270-50 = 930
  // 30px free room
  margin:0 auto;
}

header {
  width:300px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:870px;
  float:right;
  padding-bottom:50px;
  padding-left:50px;
}

h1, h2, h3, h4, h5, h6 {
  color:#2B5C92;
  margin:0 0 20px;
  font-weight: 500;
}

h1 {
  font-size:34px;
}

h2 {
  font-size:27px;
}

h3 {
  font-size:24px;
}

h4 {
  font-size:20px;
}

a {
  color:#085e9c;
}
